[submodule ".hammerspoon"]
	path = hammerspoon
	url = git@github.com:kAzec/.hammerspoon.git
	update = rebase
	branch = master
[submodule "config/karabiner"]
	path = config/karabiner
	url = git@github.com:kAzec/.karabiner.git
	update = rebase
	branch = master
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git@github.com:kAzec/prezto.git
	update = rebase
	branch = master
[submodule "scripts/src/git-recover"]
	path = scripts/src/git-recover
	url = git@github.com:ethomson/git-recover.git
